.c-header{
  height: 100px;
}

.c-body{
  background-color: rgb(212, 143, 56);
}

#menu-options{
  margin-left: 200px;
  border: none;
  background-color: white;
  border-radius: 2px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.c-cards{
  background-color: white;
}

.container{
  background-color: burlywood;
  border-top: 50px solid black;
}

img{
  width: 200px;
}

#c-card{
  word-wrap: break-word;
  max-width: 200px;
  text-align: center;
  background-color: rgb(212, 143, 56);
}

h6{
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px;
}

